:root {
    --brand-primary: #000;
    --brand-secondary: #5e5f6e;
    --brand-accent: #3857e8;
    --brand-accent-dark: #2c46b8;
    --brand-accent-light: #e0e6ff;
    --brand-emphasis: #fafafa;
    --brand-border: #e9e9e9;
    --brand-error: #f73826;
    --brand-error--light: #ffc3bd;
    --brand-success: #089c05;
    --brand-success-light: #bcf6bb;
    --brand-disabled: #aaa8a8;
    --brand-gradient: linear-gradient(to bottom, #4b6bff, #3857e8);
    --brand-gradient-reverse: linear-gradient(to top, #4b6bff, #3857e8);
}

.custom-cta-button {
    background-color: var(--brand-accent);
    padding: 5px 10px;
    border-radius: 4px;
}

.custom-cta-button:hover {
    background-color: var(--brand-accent-dark);
}

.custom-cta-button a {
    text-decoration: none;
    color: white;
    border: none
}

#navigation-items ul>li {
    margin-left: 15px;
}

#navigation-items ul>li>div.group {
    font-weight: 700;
}
